div#estadoservicio {
    width:100%;
    height:auto;
    min-height:30px;
    margin-top: 4vh;
    background-color: lightpink;
}

div#container {
    width:100%;
    height:70vh;
}

div#horizontales {
    width:15%;
    height:97%;
}

div#row1 {
    width:83%;
    height:23%;
    margin: 0.5%;
}

div#row3 {
    width: 83%;
    height: 34%;
    margin: 0.5%;
}

/* TODO fix url to base_path */

div#publicacion {
    width:83%;
    height:19%;
    background-image:url('/drupal/sites/default/files/publicacion.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#ddfabf;
}

div#verticales {
    width:49%;
    height:97%;
    float:left;
    background-image:url('/drupal/sites/default/files/verticales.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#d9d9d9;
}


div#visualizacion {
    width:49%;
    height:97%;
    float:left;
    background-image:url('/drupal/sites/default/files/visualizacion.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#d9d9d9;
}

div#procesadodatos {
    width:32%;
    height:97%;
    float:left;
    background-image:url('/drupal/sites/default/files/procesadodatos.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#c5dadd;
}

div#sistemadatos {
    width:33%;
    height:97%;
    float:left;
    background-image:url('/drupal/sites/default/files/sistemadatos.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#c5dadd;
}

div#administracion {
    width:32%;
    height:97%;
    float:left;
    background-image:url('/drupal/sites/default/files/administracion.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#c5dadd;
}

div#captacion {
    width:83%;
    height:19%;
    background-image:url('/drupal/sites/default/files/captacion.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#ddfabf;
}

.cajaneutra {
    border:3px solid black;
    box-shadow: 6px 6px 3px #888888;
    border-radius: 10px;
    margin: 0.5%;
}

.cajaerror {
    border:3px solid darkred;
    box-shadow: 6px 6px 3px #ff4d4d;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.cajaok {
    border:3px solid green;
    box-shadow: 6px 6px 3px #99ff99;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.cajatrigger_1 {
    border:3px solid #b3dbff;
    box-shadow: 6px 6px 3px aliceblue;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.cajatrigger_2 {
    border:3px solid yellow;
    box-shadow: 6px 6px 3px #ffff80;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.cajatrigger_3 {
    border:3px solid orange;
    box-shadow: 6px 6px 3px #ffc966;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.cajatrigger_4 {
    border:3px solid orangered;
    box-shadow: 6px 6px 3px #ffb499;
    border-radius: 10px;
    margin: 0.5%;
    cursor: pointer;
}

.serviceblock {
    vertical-align: middle;
    border-collapse: collapse;
    border: none;
}

.blockmiddle {
    display: block;
    height: 40px;
    line-height: 40px !important;
    vertical-align: middle !important;
    padding: 0px !important;
    border: 0px !important;
    border-top-style: none !important;
}

.circleok {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: green;
    color: green;
    text-align: center;
    font-size: 2em;
}

.circleunknown {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: darkgray;
    color: darkgray;
    text-align: center;
    font-size: 2em;
}

.circletrigger_1 {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: aliceblue;
    color: aliceblue;
    text-align: center;
    font-size: 2em;
}

.circletrigger_2 {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: yellow;
    color: yellow;
    text-align: center;
    font-size: 2em;
}

.circletrigger_3 {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: orange;
    color: orange;
    text-align: center;
    font-size: 2em;
}

.circletrigger_4 {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: orangered;
    color: orangered;
    text-align: center;
    font-size: 2em;
}

.circleerror {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */

    background-color: darkred;
    color: darkred;
    text-align: center;
    font-size: 2em;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}



.statusok {
    margin: 1px;
    padding: 1px 5px;
    background-color: green;
    color: black;
}
.statusunknown {
    margin: 1px;
    padding: 1px 5px;
    background-color: darkgray;
    color: black;
}

.statuserror {
    margin: 1px;
    padding: 1px 5px;
    background-color: darkred;
    color: black;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.trigger_0 {
    margin: 1px;
    padding: 1px 5px;
    background-color: green;
    color: black;
}

.trigger_1 {
    margin: 1px;
    padding: 1px 5px;
    background-color: aliceblue;
    color: black;
}

.trigger_2 {
    margin: 1px;
    padding: 1px 5px;
    background-color: yellow;
    color: black;
}

.trigger_3 {
    margin: 1px;
    padding: 1px 5px;
    background-color: orange;
    color: black;
}

.trigger_4 {
    margin: 1px;
    padding: 1px 5px;
    background-color: indianred;
    color: black;
}

.trigger_5 {
    margin: 1px;
    padding: 1px 5px;
    background-color: red;
    color: black;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

.btn.btn-primary.btn-xs a:link {
    color: white;
}

.btn.btn-primary.btn-xs a:visited {
    color: white;
}