{#
/**
 * @file zabbixtrigger.html.twig
 * Default theme implementation to present Zabbixtrigger data.
 *
 * This template is used when viewing Zabbixtrigger pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zabbixtrigger()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zabbixtrigger') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
