{#
/**
 * @file zabbixhost.html.twig
 * Default theme implementation to present Zabbixhost data.
 *
 * This template is used when viewing Zabbixhost pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zabbixhost()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zabbixhost') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
