{#
/**
 * @file zabbixtemplate.html.twig
 * Default theme implementation to present Zabbixtemplate data.
 *
 * This template is used when viewing Zabbixtemplate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zabbixtemplate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zabbixtemplate') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
