{#
/**
 * @file zabbixgroup.html.twig
 * Default theme implementation to present Group as defined in Zabbix data.
 *
 * This template is used when viewing Group as defined in Zabbix pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zabbixgroup()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zabbixgroup') }}>
  {% if zabbixgroup %}
      {{- zabbixgroup -}}
    {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
